# venv
.venv/

# python cache
*.pyc
__pycache__/

# ??
instance/

# test
.pytest_cache/
.coverage
htmlcov/

# build
dist/
build/
*.egg-info/

# dev
*.swo
*.swp
.DS_Store
set_env_vars.sh

# output
output/

# 簡単な動作確認として使用しているため、監視対象外とする
# notebooks
notebooks/